{% load static %}
<section id="card-services">
    <div class="container">
        <div class="row gx-0 align-content-center box">
            <a class="btn btn-primary service-box" href="#service-detail-ahorro" data-bs-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="Service">
                <div class="col-12 ">
                    <i class="fa-solid fa-piggy-bank icon-services" style="color: white;"></i>
                    <h3 class="livvic mt-3">Ahorro</h3>
                    <i class="fa-solid fa-angle-down fa-lg more"></i>
                </div>
            </a>
        </div>
        <div class="row gx-0 service-detail collapse align-items-center" id="service-detail-ahorro">
            <div class="offset-1 col-10  text-center py-3">
                <p class="livvic my-auto">Plan privado de ahorro o caja de ahorro</p>
                <h6 class=" my-auto">En los planes privados de ahorro y caja de ahorro, los empleadores crean un
                    contrato en el cual del sueldo del colaborador separan una parte que se indexa a estos instrumentos
                    y se entrega con "x" regularidad sumando interéses</h6>
            </div>
        </div>
        <div class="row gx-0 align-content-center box">
            <a class="btn btn-primary service-box" href="#service-detail-credito" data-bs-toggle="collapse"
                role="button" aria-expanded="false" aria-controls="Service">
                <div class="col-12 ">
                    <i class="fa-solid fa-coins icon-services" style="color: white;"></i>
                    <h3 class="livvic mt-3">Crédito</h3>
                    <i class="fa-solid fa-angle-down fa-lg more"></i>
                </div>
            </a>
        </div>
        <div class="row gx-0 service-detail collapse align-items-center" id="service-detail-credito">
            <div class="offset-1 col-10  text-center py-3">
                <p class="livvic my-auto">Instrumento financiero que permite la adquisición de un bien inmueble a través
                    del préstamo de recursos monetarios. Siendo que el inmueble queda como bien en garantía del pago del
                    monto acreditado y sus intereses</p>
                <h6 class=" my-auto">Oferta comercial de diversas instituciones bancarias que permite la adquisición de
                    casas, departamentos, terrenos o prestamos para la construcción. También se puede optar por la
                    hipoteca del inmueble para obtener recursos líquidos. Se oferta la mejora de hipoteca al cambiar la
                    institución original a una con mejores condiciones crediticias</h6>
            </div>
        </div>
        <div class="row gx-0 align-content-center box">
            <a class="btn btn-primary service-box" href="#service-detail-gmm" data-bs-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="Service">
                <div class="col-12 ">
                    <i class="fa-solid fa-heart-pulse icon-services" style="color: white;"></i>
                    <h3 class="livvic mt-3">Gastos Médicos</h3>
                    <i class="fa-solid fa-angle-down fa-lg more"></i>
                </div>
            </a>
        </div>
        <div class="row gx-0 service-detail collapse align-items-center" id="service-detail-gmm">
            <div class="offset-1 col-10  text-center py-3">
                <p class="livvic my-auto">Seguro que te protegue en caso de requerir atención médica ambulatoria y/u
                    hospitalaria por accidente o enfermedad cubriendo todos los gastos derivados después de superar el
                    deducible, menos el coaseguro contratado y hasta el límite de la suma asegurada elegida</p>
                <h6 class=" my-auto">Se cubrirán todos tus gastos derivados de atención médica hospitalaria y/o
                    ambulatoria por un accidente o enfermedad cubiertos, a partir de superar el límite de deducible y
                    menos tu coaseguro contratado hasta el límite de tu suma asegurada con alcance limitado al
                    territorio nacional, ayudándote a evitar una descapitalización por concepto de pago de honorarios
                    médicos, ingresos hospitalarios, tratamientos o rehabilitaciones</h6>
            </div>
        </div>
        <div class="row gx-0 align-content-center box">
            <a class="btn btn-primary service-box" href="#service-detail-inversiones" data-bs-toggle="collapse"
                role="button" aria-expanded="false" aria-controls="Service">
                <div class="col-12 ">
                    <i class="fa-solid fa-chart-line icon-services" style="color: white;"></i>
                    <h3 class="livvic mt-3">Inversiones</h3>
                    <i class="fa-solid fa-angle-down fa-lg more"></i>
                </div>
            </a>
        </div>
        <div class="row gx-0 service-detail collapse align-items-center" id="service-detail-inversiones">
            <div class="offset-1 col-10  text-center py-3">
                <p class="livvic my-auto">Plataformas de inversión en fondos patrimoniales, privados y ETFS</p>
                <h6 class=" my-auto">Te ofrecemos diversos instrumentos para invertir en fondos conservadores, de riesgo
                    moderado y alto con diferente exposición al mercado de inversiones.
                    </p>
                </h6>
            </div>
        </div>
        <div class="row gx-0 align-content-center box">
            <a class="btn btn-primary service-box" href="#service-detail-retiro" data-bs-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="Service">
                <div class="col-12 ">
                    <i class="fa-brands fa-pagelines icon-services" style="color: white;"></i>
                    <h3 class="livvic mt-3">Retiro</h3>
                    <i class="fa-solid fa-angle-down fa-lg more"></i>
                </div>
            </a>
        </div>
        <div class="row gx-0 service-detail collapse align-items-center" id="service-detail-retiro">
            <div class="offset-1 col-10  text-center py-3">
                <p class="livvic my-auto">Seguro que te permite crear un ahorro en fondos garantizados o indexados a
                    bolsa de valores para disponer de el al momento de tu retiro a los 50, 55, 60, 65 o 70 años. este
                    instrumento puede ser deducible bajo el artículo 151 y/o 185 de la LISR</p>
                <h6 class=" my-auto">Seguro dotal a edad alcanzada o flexible indexado a bolsa de valores que te permite
                    crear un fondo de protección patrimonial para disfrutar en el momento que decidas retirarte y que te
                    permité programar la entrega de tu ahorro y sus rendimientos en un solo pago o en ren