{% load static %}
<section id="card-company">
    <div class="container ">
        <div class="row gx-0 bg-card align-content-center">
            <div class="col-1 d-flex align-items-center">
                <ul class="text-start ">
                    <li><a href="https://finanzashyg.setmore.com/bookappointment" target="_blank"><i class="fa-solid fa-mug-hot" ></i></a></li> 
                    <li><a href="https://wa.me/5217352001378?text=Hola%20" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a></li>   
                    <li><a href="mailto:hola@herrera-garcia.com" target="_blank"><i class="fa-brands fa-facebook-f" ></i></a></li>             
                    <li><a ref="https://www.facebook.com/FinanzasHyG" target="_blank"><i class="fa-solid fa-envelope" ></i></a></li>                                                                                 
                </ul>
            </div>
            <div class="col-4 offset-3 text-center">
                <img src="{% static 'img/isotipo.png' %}" alt="Herrera & García | Consultores Patrimoniales" class="img-logo">
            </div>   
        </div>
    </div>
</section>