{% load static %}
<section id="card-favs">
    <div class="container ">
        <div class="d-flex justify-content-center align-content-center wall-favs">
            <a href="{{list_agent.web}}" target="_blank"><i class="fa-solid fa-link"></i></a>              
            <a href="https://wa.me/{{list_agent.whatsapp}}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>                               
            <a href="mailto:{{list_agent.mail}}" target="_blank"><i class="fa-solid fa-envelope"></i></a> 
        </div>
    </div>
</section>