{% load static %}

<!-- BANNER SM -->

<section id="banner-sm">
    <div class="btn-group-vertical w-100" role="group" aria-label="Seguros Favoritos">
        {% for fav in favs %}
        <button class="columna-sm">
            <br>
            <br>
            <h2>{{fav.name}}</h2>
            <h3 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{fav.definicion}}</h3>
            <a href="#">
                <h5 class="d-inline-block derecha">Lo quiero</h5>
            </a>
        </button>
         {% endfor %}
    </div>
</section>
