{% load static %}

<!-- BRAND -->

<section id="marcas">
   <div class="container color-primario py-3 py-md-5">
       <div class="row text-md-end text-start">
           <div class="col color-secundario">
               <h3 class="marca color-texto">¿Quiénes nos respaldan?</h3>
               <h1>Alianzas Estratégicas</h1>
               <h4 class="color-texto">Todos los días buscamos consolidar a nuestro portafolio de servicio nuevos aliados en materia de protección, inversión, banca
                   y cualquier nueva necesidad que surga para nuestros clientes
               </h4>
           </div>
       </div>
       <br>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/aarco.png' %}"
               alt="Agente de Seguros y Fianzas"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/adominion.png' %}"
               alt="Adominion Capital Strategies"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/afirme.png' %}"
               alt="Seguros Afirme"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/atlas.png' %}"
               alt="Seguros Atlas"
               class="img-fluid"
               />
           </div>
       </div>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/ana.png' %}"
               alt="Seguros Ana"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/axa.png' %}"
               alt="Seguros Axa"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/bupa.png' %}"
               alt="Seguros Bupa"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/city.png' %}"
               alt="City Credit Capital"
               class="img-fluid"
               />
           </div>
       </div>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/chubb.png' %}"
               alt="Seguros Ana"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/excent.png' %}"
               alt="Excent Capital"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/gbm.png' %}"
               alt="Seguros GBM"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/gnp.png' %}"
               alt="GNP Seguros"
               class="img-fluid"
               />
           </div>
       </div>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/inbursa.png' %}"
               alt="Seguros Inbursa" 
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/insignia.png' %}"
               alt="Insignia Life" 
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/keralty.png' %}"
               alt="Seguros Keralty"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/mapfre.png' %}"
               alt="Seguros Mapfre"
               class="img-fluid"
               />
           </div>
       </div>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/metlife.png' %}"
               alt="Metlife Seguros" 
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/monterrey.png' %}"
               alt="Seguros Monterrey" 
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/plans.png' %}"
               alt="Plan Seguro"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-bajo-sm">
               <img
               src="{% static 'img/home/marcas/potosi.png' %}"
               alt="Seguros El Potosí" 
               class="img-fluid"
               />
           </div>
       </div>
       <div class="row justify-content-center text-center px-3">
           <div class="col-6 col-md-3 borde-derecho-sm borde-bajo">
               <img
               src="{% static 'img/home/marcas/qualitas.png' %}"
               alt="Quálitas Compañía de Seguros"
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-md borde-bajo">
               <img
               src="{% static 'img/home/marcas/skandia.png' %}"
               alt="Seguros Skandia"  
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3 borde-derecho-sm">
               <img
               src="{% static 'img/home/marcas/sura.png' %}"
               alt="Seguros Sura" 
               class="img-fluid"
               />
           </div>
           <div class="col-6 col-md-3">
               <img
               src="{% static 'img/home/marcas/thona.png' %}"
               alt="Thona Seguros" 
               class="img-fluid"
               />
           </div>
       </div>
   </div>
</section>
