{% load static %}

<!-- CTA1 -->
<section id="cta1">
    <div class="container-fluid bg-cuarto py-3 py-md-5 skewed">
        <div class="container nos">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 order-md-1 text-md-start">
                    <h3 class="marca color-texto">Nos preocupamos por ti
                    </h3>
                    <h1 class="">
                    Protege a tu familia
                    </h1>
                    <h4 class="color-texto">Te ofrecemos soluciones ideales para tu protección y la de tu familia para que vivas tranquilo</h4>
                </div>
                <div class="col-12 col-md-6 order-md-0 text-center">
                    <button 
                    href="https://wa.me/5217352001378?text=Hola%20Herrera%20García"
                    target="_blank"
                    class="color-primario bg-acento cuadro">
                        Escribir ahora
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
