{% load static %}

<!-- FAQS -->

<section id="faqs">
   <div class="container-fluid my-3">
        <div class="container">
            <div class="row text-start">
                <div class="col-12 color-secundario">
                    <h3 class="marca color-texto">
                        ¿Tienes alguna duda acerca de nuestros servicios?
                    </h3>
                    <h1>Respondemos tus preguntas</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq1" 
                    aria-expanded="false" 
                    aria-controls="¿Qué es un seguro de vida?">
                        <h4 class="p-0 m-0 faq">¿Qué es un seguro de vida?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq1">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Son un medio eficaz para la protección de los individuos frente a las consecuencias de los riesgos
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq2" 
                    aria-expanded="false" 
                    aria-controls="¿Cómo funcionan los seguros?">
                        <h4 class="p-0 m-0 faq">¿Cómo funcionan los seguros?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq2">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Se basa en distribuir el daño entre un número muy elevado de personas con necesidades de protección iguales o similares
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq3" 
                    aria-expanded="false" 
                    aria-controls="¿Cuáles son los tipos de daños que se pueden asegurar?">
                        <h4 class="p-0 m-0 faq">¿Cuáles son los tipos de daños que se pueden asegurar?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq3">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Existen seguros muy variados en función de cuales sean las necesidades de los consumidores. Consulta con tu experto tu inquietud
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq4" 
                    aria-expanded="false" 
                    aria-controls="¿Qué cubre la póliza de seguro?">
                        <h4 class="p-0 m-0 faq">¿Qué cubre la póliza de seguro?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq4">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Protege al asegurado de los riesgos previstos en el contrato, la posibilidad que ocurra el evento y los daños que pueda ocasionar en el evento                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq5" 
                    aria-expanded="false" 
                    aria-controls="¿Cómo puedo contratar un seguro?">
                        <h4 class="p-0 m-0 faq">¿Cómo puedo contratar un seguro?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq5">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Te evitamos los problemas de adquirir un seguro, por lo que ofrecemos a nuestros clientes un proceso simplicficado para la contratación de su seguro, comunícate en este momento con un experto al whatsapp (735) 200 1378 y deja a nosotros todo el proceso                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq6" 
                    aria-expanded="false" 
                    aria-controls="¿Qué hago en caso de un siniestro?">
                        <h4 class="p-0 m-0 faq">¿Qué hago en caso de un siniestro?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq6">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Conserva la calma y comúnicate con nosotros, nos encontramos capacitados para actuar de forma acertiva en momentos en los que una crisis pueda estar llegando a tu vida. Solo llama al (735) 200 1378, nosotros estaremos para tí                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq7" 
                    aria-expanded="false" 
                    aria-controls="¿Cómo puedo comenzar a invertir?">
                        <h4 class="p-0 m-0 faq">¿Cómo puedo comenzar a invertir?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq7">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="color-texto faq text-justify">
                                        Nos hemos preparado para oferecer a nuestros clientes el mayor portafolio de instrumentos de inversión, con el objetivo de adaptarnos a las necesidades de nuestros clientes, comunícate con nosotros al whatsapp (735) 200 1378 y te asesoraremos para que puedas comenzar a invertir hoy                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="w-100 bg-cuarto color-secundario text-start cuadro boton-faq"
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#faq8" 
                    aria-expanded="false" 
                    aria-controls="¿Cuáles son los beneficios de invertir?">
                        <h4 class="p-0 m-0 faq">¿Cuáles son los beneficios de invertir?</h4>
                    </button>
                    <div class="collapse mt-2" id="faq8">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><h4 class="faq-list">Te ahorrará mucho tiempo y esfuerzo para conseguir tus metas financieras. Recuerda que tu tiempo también tiene un precio</h4></li>
                                        <li><h4 class="faq-list">Mantener el valor del dinero aún con el paso de la inflación</h4></li>
                                        <li><h4 class="faq-list">Existen inversiones hechas a la medida de tus posibilidades, evita el mito de INVERTIR ES DE RICOS</h4></li>
                                        <li><h4 class="faq-list">Son de los sectores más regulados por los paises, por consiguiente su seguridad</h4></li>
                                        <li><h4 class="faq-list">Contamos un portafolio amplio de instrumentos de inversión para asegurar una diversificación eficiente de tus inversiones</h4></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>
