{% load static %}
<section id="header-seguros">
    <div class="container color-texto py-3 py-md-5">
        <div class="row text-md-end text-start">
            <div class="col-12 color-secundario">
                <h3 class="marca color-texto">Navega por nuestro portafolio</h3>
                <h2>Solicita información para cumplir tus objetivos</h2>
                <h4 class="color-texto">
                Te presentamos las mejores alternativas para acceder a nuestro portafolio
                </h4>
            </div>
        </div>
    </div>
</section>