{% load static %}

<!-- Testimonials -->
<section id="testimonials">
    <div class="container-fluid bg-primario">
        <div class="container color-primario py-3 py-md-5">
            <div class="row text-md-end text-start">
                <div class="col color-secundario">
                    <h3 class="marca color-texto">
                        ¿Cómo hemos ayudado a nuestros clientes?
                      </h3>
                      <h1>Historias de Nuestros Clientes</h1>
                      <h4 class="color-texto">
                        Conce a las personas aue nos han brindado su confianza y han dado la
                        oportunidad de trabajar con ellos para que puedan dedicarse a vivir
                        de la mejor manera posible
                      </h4>
                </div>
            </div>
            <br>
            <div class="row justify-content-center text-center px-3">
                <div class="col-12 col-md-10 mx-auto my-5">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="carouselSlide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container testimonios bg-cuarto">
                                    <div class="row align-items-stretch">
                                        <div class="col-12">
                                            <br>
                                            <br>
                                            <h2 class="text-uppercase color-secundario">
                                                <strong>Conservé mi tratamiento preexistente</strong>
                                            </h2>
                                            <br>
                                            <h4 class="px-md-4 px-4 mx-md-5 mx-0 color-texto">
                                                Contacté a Herrera & García porque necesitaba un seguro de gastos médicos mayores debido a 
                                                que terminé la relación laboral donde trabajaba, para mi era importante que pudiéramos 
                                                mantener la antigüedad y que tomaran en cuenta mi historial ya que tuve una cirugía en la columna 
                                                y no perder la cobertura de esta enfermedad preexistente. La experiencia fue de lo mejor, estuvo 
                                                siempre muy atento a conseguir lo que necesitaba y fue un éxito, tuvimos varias opciones y al final 
                                                logramos contratar el seguro acorde a lo que necesitaba.
                                            </h4>
                                            <blockquote class="blockquote fst-italic color-secundario">
                                                <h3>Emmanuel González</h3>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="container testimonios bg-cuarto">
                                    <div class="row align-items-stretch">
                                        <div class="col-12">
                                            <br>
                                            <br>
                                            <h2 class="text-uppercase color-secundario">
                                                <strong>La mejor asesoría para contratar un seguro</strong>
                                            </h2>
                                            <br>
                                            <h4 class="px-md-4 px-4 mx-md-5 mx-0 color-texto">
                                                Mi experiencia con Herrera & García fue oportuna y amable desde la primer 
                                                plática que tuvimos para la contratación de un seguro de ahorro para la vejez, 
                                                me presentó diversas opciones sobre todo enfocadas a tener el mayor beneficio 
                                                para mi. La forma de transmitir los detalles y la información de los productos 
                                                que ofrece es sencilla; en caso de existir dudas sobre algún concepto busca la 
                                                mejor forma de que sea entendible. Actualmente tengo más de un seguro administrado 
                                                con Herrera & García. Agradezco la atención personalizada y oportuna en la gestión 
                                                de mis pólizas.
                                            </h4>
                                            <blockquote class="blockquote fst-italic color-secundario">
                                                <h3>Eli Montes de Oca</h3>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="container testimonios bg-cuarto">
                                    <div class="row align-items-stretch">
                                        <div class="col-12">
                                            <br>
                                            <br>
                                            <h2 class="text-uppercase color-secundario">
                                                <strong>Atención personalizada</strong>
                                            </h2>
                                            <br>
                                            <h4 class="px-md-4 px-4 mx-md-5 mx-0 color-texto">
                                                La asesoría y la atención ha sido excelente, además del apoyo continuo 
                                                después de hacer la contratación ha sido de lo mejor, lo recomiendo ampliamente.
                                            </h4>
                                            <blockquote class="blockquote fst-italic color-secundario">
                                                <h3>Paulina Saenz</h3>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSlide" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>